* {
margin : 0;
padding : 0;
}

html{
background-image:linear-gradient(#e2e9ea, #aab7b8);
}


#wrapper {
width : 990px;
margin : 0 auto;
border-radius : 20px;
}

h1 {
font-family : Arial;
color: black;
font-size : 25px;
text-align : center;
margin : 10px 0;
}

nav {
height : 50px;
width : 900px;
background-image:linear-gradient(black, grey);
border-radius : 10px;
margin : 10px auto;
}

nav ul  li{
list-style : none;
width : 130px;
display : inline-block;
text-align : center;
}

nav ul li a {
font-family : Arial;
font-size : 15px;
font-weight : bold;
text-decoration : none;
line-height : 50px;
margin-left : 10px;
color : white;
}

nav ul li a:hover {
color : orange;
}

#vignettes {
margin : 10px auto;
width: 900px;
border-left : dotted 2px white;
border-right : dotted 2px white;
}

#vignettes ul li {
list-style : none; 
display : block;
float: left;
margin : 10px;
width : 300px;
height : 200px;
}

div#div_admin {
margin : 20px 0 0 60px;
width : 400px;
height : 450px;
float : left;
border : solid 1px black;
}

div#div_admin  form {
width : 400px;
border : none;
margin-left : 20px;
}

div#div_admin ul li {
list-style : none;
display : block;
margin-top : 10px;
text-align : center;
}

div#div_admin  form p textarea#description {
width : 350px;
overflow : auto;
}

div#div_admin  form label{
padding : 0 10px 0 10px;
}

.clear {
clear : both;
}

#msg_success {
background-color : #76ec7e;
border : solid 1px green;
width : 300px;
height : 30px;
line-height : 30px;
text-align : center;
margin : 0 auto;
}


#msg_error {
background-color : #ec433a;
border : solid 1px red;
width : 300px;
height : 30px;
line-height : 30px;
text-align : center;
margin : 0 auto;
}

form {
width: 600px;
height : 600px;
border : solid 1px black;
margin : 10px auto;
}

form label {
font-family : Arial;
font-size : 15px;
font-weight : bold;
}

form p {
margin-top : 20px;
}

form p input#upload {
width : 300px;
height : 30px;
font-family : Arial;
font-size : 15px;
cursor: pointer;
}

form p input#submit {
height : 30px;
font-family : Arial;
font-size : 15px;
cursor: pointer;
}

form p input#submit:hover, form p input#upload:hover {
color : black;
}

